<!-- Describe task in general --> <img src="{{MEDIA_CONVERT}}title3.png" class="title_img" />
 <p style="text-align: justify;">
    四个朋友约定打双打网球。每个朋友都有自己的水平，用一个正整数表示：数字越大，选手的水平越高。
 </p>

 <p style="text-align: justify;">
    这四个朋友想组成一对开始比赛。为了增加游戏的趣味性，他们希望两队的水平尽可能接近。一支队伍的水平是队伍中球员水平的总和。
 </p>

 <p style="text-align: justify;">
    这四个朋友虽然网球打得很好，但在逻辑或数学等其他方面却不太擅长。你能帮助他们，找出可能组成的球队水平之间的最小差距吗？
 </p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>未排序的{% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>的四个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>整数。
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

