<!-- Describe task in general --> <img src="{{MEDIA_CONVERT}}title3.png" class="title_img" />
 <p style="text-align: justify;">
    Четверо друзів домовились пограти у парний теніс. Кожен з друзів має рівень гри, який виражається натуральним числом: чим більше число, тим кращий рівень гравця.
 </p>

 <p style="text-align: justify;">
    Четверо друзів хочуть об'єднатись у пари, щоб розпочати гру. Щоб зробити гру цікавішою, вони хочуть, щоб рівні двох команд були якомога ближчими. Рівень команди - це сума рівнів гравців у команді.
 </p>

 <p style="text-align: justify;">
    Хоча четверо друзів дуже добре грають у теніс, вони не дуже добре знаються на деяких інших речах, таких як логіка або математика. Чи можете ви допомогти їм і знайти найменшу можливу різницю між рівнями команд, які можуть бути сформовані?
 </p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Невідсортований масив {% if is_js %}масив{% else %}список{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> з чотирьох цілих чисел <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вивести:</strong> Ціле число.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

