<!-- Describe task in general -->
 <p style="text-align: justify;">
    Quatre amis ont décidé de jouer au tennis en double. Chacun des amis a un niveau de jeu, qui est représenté par un nombre entier positif: plus le nombre est élevé, meilleur est le niveau du joueur.
 </p>

 <p style="text-align: justify;">
    Les quatre amis veulent former des paires pour commencer le jeu. Pour rendre le jeu plus intéressant, ils souhaitent que les niveaux des deux équipes soient aussi proches que possible. Le niveau d'une équipe est la somme des niveaux des joueurs qui la composent.
 </p>

 <p style="text-align: justify;">
    Bien qu'ils soient de très bons joueurs de tennis, les quatre amis ne sont pas très doués pour d'autres choses, comme la logique ou les mathématiques. Pouvez-vous les aider et trouver la plus petite différence possible entre les niveaux des équipes qui peuvent être formées?
 </p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Non trié {% if is_js %}tableau{% else %}liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> de quatre entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

