<!-- Describe task in general --> <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
 <p style="text-align: justify;">
    Four friends have agreed to play doubles tennis. Each of the friends has a level of play, which is represented by a positive integer: the higher the number, the better the player's level.
 </p>

 <p style="text-align: justify;">
    The four friends want to form pairs to start the game. To make the game more interesting, they want the levels of the two teams to be as close as possible. The level of a team is the sum of the levels of the players on the team.
 </p>

 <p style="text-align: justify;">
    Although they are very good tennis players, the four friends are not very good at some other things, such as logic or mathematics. Can you help them and find the smallest possible difference between the levels of the teams that can be formed?
 </p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Unsorted <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> of four integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Integer.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

