<!-- Describe task in general --> <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
 <p style="text-align: justify;">
    Vier Freunde haben sich darauf geeinigt, Tennis im Doppel zu spielen. Jeder der Freunde hat ein Spielniveau, das durch eine positive ganze Zahl dargestellt wird: je höher die Zahl, desto besser das Niveau des Spielers.
 </p>

 <p style="text-align: justify;">
    Die vier Freunde wollen Paare bilden, um das Spiel zu beginnen. Um das Spiel interessanter zu machen, wollen sie, dass die Spielstärken der beiden Teams so nah wie möglich beieinander liegen. Das Niveau eines Teams ist die Summe der Niveaus der Spieler in diesem Team.
 </p>

 <p style="text-align: justify;">
    Obwohl sie sehr gute Tennisspieler sind, sind die vier Freunde in einigen anderen Dingen wie Logik oder Mathematik nicht sehr gut. Können Sie ihnen helfen und den kleinstmöglichen Unterschied zwischen den Niveaus der Teams finden, die gebildet werden können?
 </p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Unsortiertes {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> von vier ganzen Zahlen <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Ganzzahl.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

