<!-- Describe task in general --> <img src="{{MEDIA_CONVERT}}title3.png" class="title_img" />
 <p style="text-align: justify;">
    Czterech przyjaciół umówiło się na grę w debla. Każdy z przyjaciół ma swój poziom gry, który jest reprezentowany przez dodatnią liczbę całkowitą: im wyższa liczba, tym lepszy poziom gracza.
 </p>

 <p style="text-align: justify;">
    Czterej przyjaciele chcą utworzyć pary, aby rozpocząć grę. Aby gra była bardziej interesująca, chcą, aby poziomy obu drużyn były jak najbardziej zbliżone. Poziom drużyny jest sumą poziomów graczy w drużynie.
 </p>

 <p style="text-align: justify;">
    Chociaż czwórka przyjaciół jest bardzo dobrymi tenisistami, nie są zbyt dobrzy w innych rzeczach, takich jak logika czy matematyka. Czy może im Pan pomóc i znaleźć najmniejszą możliwą różnicę między poziomami drużyn, które można utworzyć?
 </p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> Niesortowana tablica {% if is_js %}{% else %} lista{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> czterech liczb całkowitych <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

